* {
box-sizing: border-box;
margin: 0;
}

body {
    background-color: #F5EDE5;
}

/*------------------------------- Header start -------------------------------*/
.hero {
    min-height: 700px;
    background-image: url(/img.2/baggrund.jpg);
    background-size: 120%;
    background-position: 30% 20%;
    background-repeat: no-repeat;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 45px;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(0px);
}

.logo img{
    height: 70px;
}

.topbar-midten{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
}

.hovedmenu{
    display: flex;
    gap: 30px;
}

.hovedmenu a{
    color: #62745A;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 5px;
}

.hovedmenu a:hover{
    color: #36502A;
}

.hovedmenu a.hjem{
    color: #62745A;
    font-weight:500;
}

.hovedmenu a.aktiv{
    color: #36502A;
    text-decoration: underline;
    font-weight: 500;
}

.searchbar{
    display: flex;
    align-items: center;
    gap: 0px;
}

.searchfelt{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    padding: 2px 5px 2px 20px;
    box-shadow: 0 1px 1px;
    position: relative;
    z-index: 2;
}

.searchfelt input{
    border: 0;
    outline: none;
    font-size: 16px;
    padding: 6px 0;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    width: 200px;
}

.search-vector-knap{
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lykke-knap{
    background-color: #E2BB38;
    color: black;
    font-size: 16px;
    border: 0;
    border-radius: 100px;
    width: 150px;
    padding: 12px 15px;
    text-align: right;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    text-decoration: none;
    margin-left: -40px;
    z-index: 1;
    box-shadow: 0 1px 1px;
}

.lykke-knap:hover{
    background-color: #BF9C25;
}

.topbar-ikoner{
    display: flex;
    align-items: center;
    gap: 20px;
}

.topbar-ikoner img{
    width: 20px;
    height: 20px;
}

.solskin{
    width: 130px;
    display: block;
    justify-content: center;
    margin: 90px auto 0 auto;
}

h1{
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: 0 2px 1px rgb(0, 26, 0);
}
/*------------------------------- Header slut -------------------------------*/



/*-------------------------------  BREADCRUMB ------------------------------- */
.breadcrumb {
    margin: 0 auto;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    color: #315f78;
    max-height: 40px;
    background-color: #eee2d6;
}
.breadcrumb a {
    color: #315f78;
    text-decoration: none;
}

.breadcrumb span {
    margin: 0 10px;
}
/*-------------------------------  BREADCRUMB ------------------------------- */



/*------------------------------- Vi ville også ud og se verden section -------------------------------*/
.vivilleogså {
    color: #36502A;
    text-align: center;
}

.vivilleogså .p1 {
    font-size: 20px;
    font-family:"montserrat", sans-serif ;
    margin: 10px 0 20px;
}

.vivilleogså .p2 {
    font-size: 20px;
    font-family:"montserrat", sans-serif ;
    margin: 10px 0 100px;
}

.vivilleogså h2{
    font-size: 40px;
    font-family: "playfair display", serif;
    margin: 100px 0 50px;
}

.vivilleogså img {
    width: 60px;
    position: absolute;
    top: 775px;
    right: 540px;
}

.vvh2::after {
content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #E2BB38;
    margin: 15px auto 0;
    border-radius: 10px;
    /* gul linje under h2 i Vi ville også section */
}
/*------------------------------- VVOUOSV section SLUT -------------------------------*/



/*------------------------------- Vores mission section -------------------------------*/
.voresmission {
    position: relative;
    background-color: #36502A;
    min-height: 600px;
    color: #F5EDE5;
    text-align: center;
    padding-top: 70px;
    z-index: 1;
    box-shadow: inset 0 0 30px #0c2102
}

h2 {
  font-size: 40px;
    font-family: "playfair display", serif;
    margin-bottom: 80px;
}

.voresmission p {
    font-size: 17px;
    font-family:"montserrat", sans-serif;
    margin-top: 30px;
}

.vmh2 {
  position: relative;
  z-index: 2;
}

.tekst-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    position: relative;
    z-index: 2;
    /* sætter teksterne ved siden af hinanden */
}

.tekst-container p{
    width: 350px;
    text-align: center;
    /* Giver hver enkel p den samme bredde */
}

.voresmission > img:not(.citypng){
    height: 140px;
    margin: 0 135px;
    position: relative;
    z-index: 2;
}

.vmh2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #E2BB38;
    margin: 15px auto 100px;
    border-radius: 10px;
    /* gul linje under h2 i VM section */
}

.citypng {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
    margin: 0;
}
/*------------------------------- Vores mission SLUT -------------------------------*/



/*------------------------------- Mød menneskerne bag -------------------------------*/
.mødmenneskerne {
    position: relative;
    text-align: center;
    padding-top: 120px;
    color: #36502A;
}

.person h4::after{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: #E2BB38;
    margin: 10px auto 15px;
    border-radius: 10px;
}

.mødmenneskerne h3{
    font-size: 40px;
    font-family: "playfair display", serif;
    margin-bottom: 80px;
    color: #36502A;
}

.personer {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.person {
    text-align: center;
    width: 250px;
}

.person img{
    height: 140px;
}

.person h4{
    margin: 20px 0 10px;
    font-size: 25px;
}

.person p{
    margin: 0;
    font-family:"montserrat", sans-serif;
}
/*------------------------------- Mød menneskerne bag SLUT -------------------------------*/



/*-------------------------------  Lige her, i tal ------------------------------- */
.ligeherital{
    position: relative;
    min-height: 800px;
    text-align: center;
    padding-top: 200px;
}

.bokspng{
    position: absolute;
    border-radius: 25px;
    z-index: 0;
    width: 70%;
    height: 420px;
    left: 15%;
    object-fit: fill;
    box-shadow: 0 4px 15px rgba(0,0,0,0.10);
}

.ligeherital h3{
    position: absolute;
    color: #36502A;
    font-size: 50px;
    top: 270px;
    left: 0;
    right: 0;
    z-index: 1;
}

.topaflogopng {
    position: absolute;
    height: 60px;
    top: 225px;
    left: 700px;
    z-index: 1;
}

.tal-container {
    position: absolute;
    top: 390px;
    left: 15%;
    width: 70%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.tal-item {
    flex: 1;
    text-align: center;
}

.ikon{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.tal-item h4{
    font-family: "Playfair Display", serif;
    font-size: 38px;
    color: #36502A;
    margin: 10px 0 0;
}

.tal-item p{
    font-family: "Montserrat", sans-serif;
    color: #36502A;
    margin: 0;
}

/*-------------------------------  Lige her, i tal SLUT ------------------------------- */



/*------------------------------- Hvad siger andre section -------------------------------*/
.hvadsigerandre{
    min-height: 650px;
    background-color: #EACDB0;
    color: #36502A;
    text-align: center;
    padding: 90px 160px;
}

.hvadsigerandre>h3{
font-size: 50px;
margin-bottom: 15px;
}

.hvadsigerandre>h3::after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #E2BB38;
    margin: 10px auto 0;
    border-radius: 10px;
}

.anmeldelse-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.stjerner{
    width: 100px;
    height: auto;
}

.hvadsigerandre>p{
    font-size: 20px;
    margin-bottom: 40px;
}

.anmeldelsecontainer p{
    text-align: left;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.anmeldelsecontainer h4{
    text-align: left;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.anmeldelsecontainer{
    display: grid;
    grid-template-columns: repeat(3,400px);
    gap: 50px;
    margin-bottom: 40px;
    justify-content: center;
}

.anmeldelse-boks{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.10);
    height: 240px;
}

.anmeldelse-billede{
    position: relative;
}

.foto{
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
/*------------------------------- Hvad siger andre section SLUT -------------------------------*/



/*------------------------------- Tilmeld nyhedsbrev -------------------------------*/
.inspirations-sektion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 100px 100px;
}
.inspiration{
    flex: 1;
}
.inspiration-tekst{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.inspiration-tekst h2{
    font-family: "Playfair Display", serif;
    font-size: 35px;
    line-height: 1;
    font-weight: 700;
    color: #36502A;
    margin: 0 0 10px;
}
.inspotekst{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #36502A;
    justify-content: center;
}
.inspiration-tilmeld input{
    height: 40px;
    padding: 0 20px;
    border: 2px solid #E2BB38;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.inspiration-tilmeld button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: #E2BB38;
    color: black;
    border: 0;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px; 
    box-shadow: 0 1px 1px;
}
.inspiration-tilmeld button:hover{
    background-color: #BF9C25;
}
.lilletekst{
    max-width: 800px;
    font-family: "Montserrat",sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: #60899e;
    margin-top: 20px;
}
.lilletekst a{
    color: #60899e;
}
/*------------------------------- Tilmeld nyhedsbrev SLUT -------------------------------*/



/*------------------------------- Footer start -------------------------------*/
footer {
    background-color: #315f78;
    color: white;
    padding: 50px 40px;
    font-family: "Montserrat", sans-serif;
}

.footer-indhold {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-kolonne {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-kolonne a {
    color: white;
    text-decoration: none;
}

.footer-kolonne a:hover {
    opacity: 0.8;
}

.footer-kolonne h3 {
    margin: 0 0 10px;
}

.footer-logo {
    display: flex;
    align-items: center;
}
.footer-logo img {
    width: 100px;
    height: auto;
}
/*------------------------------- Footer SLUT -------------------------------*/