
/* Header start */
.hero {
    min-height: 800px;
    background-image: url(/img.2/baggrund.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 45px;
}
.logo img{
    height: 50px;
}
.topbar-midten{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
}
.hovedmenu{
    display: flex;
    gap: 30px;
}
.hovedmenu a{
    color: #62745A;
    text-decoration: none;
    font-size: 11px;
    padding-bottom: 5px;
}
.hovedmenu a:hover{
    color: #36502A;
}
.hovedmenu a.hjem{
    color: #62745A;
    font-weight:500;
}

.hovedmenu a.aktiv{
    color: #36502A;
    text-decoration: underline;
    font-weight: 500;
}

.searchbar{
    display: flex;
    align-items: center;
    gap: 0px;
}
.searchfelt{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    padding: 2px 5px 2px 20px;
    box-shadow: 0 1px 1px;
    position: relative;
    z-index: 2;
}
.searchfelt input{
    border: 0;
    outline: none;
    font-size: 13px;
    padding: 6px 0;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    width: 200px;
}
.search-vector-knap{
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lykke-knap{
    background-color: #E2BB38;
    color: black;
    font-size: 12px;
    border: 0;
    border-radius: 100px;
    width: 130px;
    padding: 12px 15px;
    text-align: right;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    text-decoration: none;
    margin-left: -40px;
    z-index: 1;
    box-shadow: 0 1px 1px;
}
.lykke-knap:hover{
    background-color: #BF9C25;
}
.topbar-ikoner{
    display: flex;
    align-items: center;
    gap: 20px;
}
.topbar-ikoner img{
    width: 20px;
    height: 20px;
}
/* Header slut */

.solskin{
    width: 130px;
    display: block;
    justify-content: center;
    margin: 90px auto 0 auto;
}
h1{
    text-align: center;
    font-size: 70px;
    color: white;
}


* {
box-sizing: border-box;
margin: 0;
}